<div class="vehicle-selection">
    <h2 class='title'> Assign Vehicles to your selected planets: </h2>
    <section class='time-taken'>
        {{timeToTravel}} Total Time
    </section>
    <div class="container">
        <div class="planet-layout">
            <div class="planet-container">
            <div *ngFor="let planet of planetList" class="planet-list" (click)="planetforSelection(planet)" [ngClass]="{'selected' : (planet.name === selectedPlanet.name),
            'assigned' : planet.isAssigned}">
                <div class="selection-cotainer">
                    <img [src]="imagePath(planet.name)" alt="Planet image"/>
                    <p class="planet-name"> {{ planet.name }} </p>
                    <p> <b>Distance</b> - {{ planet.distance }} megamiles </p>
                </div>
            </div>
            </div>
        </div>
        <div class="vehicle-layout">
            <div class="vehicle-container">
                <div *ngFor="let vehicle of vehicleList" class="vehicle-list" (click)="assignVehicleToPlanet(vehicle)" [ngClass]="{
                'assigned' : vehicle.id === (selectedPlanet.assignedVehicle ? selectedPlanet.assignedVehicle.id : 0),
                'notAvailable' : !vehicle.isAvailable
                }">
                    <div class="selection-cotainer">
                        <img [src]="imagePathVehicle(vehicle.name)" alt="Vehicle image"/>
                        <p class="planet-name"> {{ vehicle.name }} </p>
                        <p> <b>Max Distance</b> - {{ vehicle.max_distance  }} megamiles </p>
                        <p> <b>Speed</b> - {{ vehicle.speed  }} </p>
                        <p> <b>Remaining</b> - {{ vehicle.total_no  }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="buttonArea">
        <button type="button" class="btn btn-outline-primary reselect-button" (click)='backtoPlanets()'>
            Reselect Planets
        </button>
        <button type="button" class="btn btn-outline-primary find-button" (click)="findFalcone()" [disabled]="dataInvalid">
            Find Falcone
        </button>
    </section>
    </div>